.nav{
    display:block;
    background-color:rgb(255,255,255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    top:0;
    position:sticky;
    z-index:10;
}
    @media (max-width: 768px) {
        .nav {
        display: none;
        }
    }


.sidebar{
    background-color:rgb(255,255,255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    top:0;
    position:sticky;
    z-index:10;
    padding:2%;
}

@media (min-width: 768px) {
    .sidebar {
    display: none;
    }
}